body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#game-container {
    width: 100vw;
    height: 100vh;
    background-color: #87ceeb;
    position: relative;
    overflow: hidden;
}

#basket {
    width: 100px;
    height: 50px;
    background-color: #8b4513;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.fruit {
    width: 50px;
    height: 50px;
    position: absolute;
}

/* Specific fruit colors */
.red {
    background-color: red;
}

.banana {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.grape {
    background-color: purple;
}

/*Fruit Images: https://clipart-library.com/ */