body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#game-container {
    width: 100vw;
    height: 100vh;
    background-color: #87ceeb;
    position: relative;
    overflow: hidden;
}

#basket {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.fruit {
    width: 100px;
    height: 100px;
    position: absolute;
}

.fruit-counter {
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    color: rgb(139, 60, 60);
    position: absolute;
    top: 20px;
    left: 20px;
}
